<div class="page-header">
    <h1>Заголовок сторінки, виведений яе модулем так і для текстової сторінки</h1>
</div>

<div class="page-header">
    <div class="h1">Заголовок для імітації заголовка сторінки</div>
</div>


<!--
    Заголовок блоку.
    Якщо блок section, то в ньому потрібен тег H2-H6! Ні, то використовуємо класи .H2-.H6
    Діапазону H2-H4 для всії сторінки (від верху до низу).
    Для надання особливостей - комбінуємо класи, наприклад ".block-header.line-middle"
-->
<div class="block-header">
    <h2>Заголовок блоку</h2>
</div>


<!--
    Блок для телефонів візуально міняється, але можна використати ось таку структуру.
    Для складових телефону є класи: country, code, number
    В разі необхідності, можна додавати клас phone-items-horizontal
-->
<section class="phones">
    <div class="block-header sr-only">
        <h4>Контактні телефони</h4>
    </div>
    <dl class="phone-items">
        <dt class="sr-only">тел.</dt>
        <dd><a href="tel:00000000"><span class="country">+380</span> <span class="code">044</span> <span class="number">599-311-9</span></a></dd>
        <dt class="sr-only">тел.</dt>
        <dd><a href="tel:00000000"><span class="code">050</span> <span class="number">418-438-8</span></a></dd>
        <dt class="sr-only">факс</dt>
        <dd><a href="tel:00000000"><span class="code">044</span> <span class="number">425-22-33</span></a></dd>
    </dl>
</section>


<!--
    Блок для простого пошуку товарів або по сайті.
    input[type="search"] має багато атрибутів, які використовуються браузером для валідації.
    button тут у вигляді іконки.
    TODO: "siteicon siteicon-search" ігнорувати тут покищо, бо по цьому окремо розмова.
    Тут вийшла звичайна бутстрепівська форма. Лишили в шаблонах заради атрибутів, але особливої цінності вона не має.
    Так, але як памятка підійде думаю. + тра пройтися по попереднім нашим проектам і подивитися чого може в ній не
    вистачати і зробити узагальнений приклад.
-->
<form role="search" method="get" action="#">
    <div class="form-group">
        <label class="control-label sr-only">Пошук товару</label>
        <div class="input-group">
            <input type="search" pattern=".{3,}" value="" placeholder="" autocomplete="off" class="form-control" required>

            <div class="input-group-btn">
                <button class="btn btn-default btn-icon" type="submit">
                    <span class="sr-only">Найти</span>
                    <span class="siteicon siteicon-search"></span>
                </button>
            </div>
        </div>
    </div>
</form>


<!--
    Блок посилань на стоірнки в соц. мережах
    Якщо на стор. статті або товару потрібно кастомні +1 або share, то клас "follow-us-nav" заміняємо на "share-nav"
    Тут можна також додати заголовок і приховати* його за допомогою sr-only.
-->
<nav class="follow-us-nav">
    <ul class="nav" aria-label="Слідкуйте за нами">
        <li><a title="Ми в Facebook" target="_blank" class="fb" href="#fb"></a></li>
        <li><a title="Ми в Twitter" target="_blank" class="tw" href="#tw"></a></li>
        <li><a title="Ми в Google+" target="_blank" class="gp" href="#gp"></a></li>
        <li><a title="Ми в Вконтакті" target="_blank" class="vk" href="#vk"></a></li>
    </ul>
</nav>
